#logo {
	height: 40px;
	margin-top: -10px;
	padding-left: 50px;
}
#search {
	height: 15px;
}
.navbar-form .form-control {
    width: 600px;
}
.form-group {
	padding-left: 50px;
}
.btn-default {
	width:75px;
	background-color: #F7F7F7;
	padding-top:10px;
}
.navbar-default {
	background-color:white;
}
.fa-search {
	color: gray;
}
#button {
	margin-top:7px;
}

.bs-sidebar {
/*  width: 200px;
  top: 60px;*/
  background-color:white;
  margin-left: -10px;
}
#home {
	text-align: center
}
p {
	text-align: center;
	font-weight: bold;
}
body {
	background-color:#F9F9F9;
}
.sub-list {
	list-style-type: none;
	font-weight: normal;
	margin-left:-10px;
}
#sidebarlist {
	margin-left:-10px;
}
#best {
	color:#DD2B28;
	font-weight:bold;
	margin-left: 15px;
}
a {
	color:black;
}
.row {
	background-color:white;
}
